<configuration>
    <appender name="myConsoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%msg%n
            </pattern>
        </encoder>

    </appender>

    <appender name="myFileLog" class="ch.qos.logback.core.FileAppender">

        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%msg%n
            </pattern>
        </encoder>

        <file>
            journalApp.log
        </file>


    </appender>



    <root level="INFO">
        <appender-ref ref="myFilelog"></appender-ref>
<!--        <appender-ref ref="myConsoleLog"></appender-ref>-->
    </root>
</configuration>